{% load crispy_forms_tags %}
<div class="container">
  <form 
    class="main-form"
    action="{{ form_action }}" 
    method="POST"
    enctype="multipart/form-data"
      
  >
    {% csrf_token %}

    <div class="form-group">
      {% for field in form %}
        
        
        <div class="form-group {{ field.field.widget.attrs.class }}">
          
          {{field |as_crispy_field}}

          
        
        </div>

        {% if field.name == 'cover' and field.value.url %}
          <div class="span-2">
            <img src="{{ field.value.url }}" alt="Capa para {{ recipe.title }}">
          </div>
        {% endif %}
      {% endfor %}
      {% for field in form_profile %}
        <div class="form-group {{ field.field.widget.attrs.class }}">

          {{field |as_crispy_field}}

        </div>

        {% if field.name == 'cover' and field.value.url %}
          <div class="span-2">
            <img src="{{ field.value.url }}" alt="Capa para {{ recipe.title }}">
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if form.errors %}
    <br>
    <div class="form-content form-content-grid">
      <div class="form-group">
        <div class="alert alert-danger" role="alert">
          Há erros no formulário, corrija-os e envie novamente!
        </div>
      </div>
    </div>
    {% endif %}



   <br>  
      <div class="form-group">
        <button class="btn btn-success" type="submit">Submeter</button>
      </div>
   
  </form>
</div>

<script>
	CKEDITOR.replace( 'id_descricao' );
</script>