
{% extends 'global/base.html' %}



{% block content %}


{% include 'global/partials/messages.html' %}


<h2>Defina os Filtros: </h2>



{% load crispy_forms_tags %}
{% comment %} <form class="main-form" method="get">
  <div class="form-group">
  {% csrf_token %}
  {{ actividades.form|crispy }} 
  </div>
  <br>
  <button class="btn btn-success" type="submit">Filtrar</button>
</form> {% endcomment %}
<form class="main-form" method="get">
    <div class="form-group">
      {% csrf_token %}
      
      <!-- Campo de Seleção para Departamentos -->
      {% comment %} <label for="departamento">Departamento:</label>
      <select name="departamento" id="departamento" class="form-control">
        <option value="">Escolha um departamento</option> <!-- Opção padrão -->
        {% for departamento in departamentos %}
          <option value="{{ departamento.id }}" 
              {% if departamento_selecionado == departamento.id|stringformat:"s" %}selected{% endif %}>
            {{ departamento.nome }}
          </option>
        {% endfor %}
      </select> {% endcomment %}
  
      {{ actividades.form|crispy }} 
    </div>
    <br>
    <button class="btn btn-success" type="submit">Filtrar</button>
</form>
<br>



<!---->
<table class="table table-bordered table-striped table-hover text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Funcionário</th>
        <th>Tipo de Atividade</th>
        <th>Descrição</th>
        <th>Data de Criação</th>
        <th>Status</th>
        <th>Dificuldade</th>
        <th>Prioridade</th>
        <th>Prazo</th>
        <th>Tempo Gasto</th>
      </tr>
    </thead>
  
    <tbody>
      {% for atividade in filtros %}
      <tr>
     
        <td><a href="{% url 'actividades:detalhes_actividade' atividade.id %}">{{ atividade.id }}</a></td>
        <td>{{ atividade.funcionario.nome_completo }}</td>
        <td>{{ atividade.get_tipo_atividade_display }}</td>
        <td>{{ atividade.descricao|safe }}</td>
        <td>{{ atividade.data }}</td>
        <td>{{ atividade.get_status_display }}</td>
        <td>{{ atividade.get_dificuldade_display }}</td>
        <td>{{ atividade.get_prioridade_display }}</td>
        <td>{{ atividade.prazo }}</td>
        <td>{{ atividade.tempo_gasto }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10" style="color:red; text-align: center;">Nenhuma atividade encontrada com estes filtros.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<!-- No arquivo consulta_modelo.html


<ul>
  {% for objeto in filtro.qs %}
      <li>{{ objeto }}</li>
  {% endfor %}
</ul> -->


{% comment %} {% if filtros.has_other_pages %}


<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- Link para a primeira página -->
            
            {% if pagination_range.first_page_out_of_range %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Primeira</a>
            </li>
           {% endif %}
            <!-- Links para as páginas -->
            {% for page in pagination_range.pagination_range %}
                {% if pagination_range.current_page == page %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page }}</span>
                </li>
                    
                    
                {% else %}
                    <a class ="page-link page-item" href="?page={{ page }}{{ additional_url_query}}"> {{ page }} </a>
                {% endif %}
            {% endfor %}
            
            <!-- Link para a última página -->
            {% if pagination_range.last_page_out_of_range %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagination_range.total_pages }}">Última</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>


{% endif %}  {% endcomment %}


{% if filtros.has_other_pages %}
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- Link para a primeira página -->
            {% if first_page_out_of_range %}
            <li class="page-item">
                <a class="page-link" href="?page=1&{{ query_string }}">Primeira</a>
            </li>
            {% endif %}
            <!-- Links para as páginas -->
            {% for page in pagination_range %}
                {% if current_page == page %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}&{{ query_string }}">{{ page }}</a>
                </li>
                {% endif %}
            {% endfor %}
            <!-- Link para a última página -->
            {% if last_page_out_of_range %}
            <li class="page-item">
                <a class="page-link" href="?page={{ total_pages }}&{{ query_string }}">Última</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}


{% endblock content %}