{% extends 'global/base.html' %}

{% block title %}Dashbord ({{ user }}) | {% endblock title %}

{% block content %}
<h2>Dashbord  ({{ user }}) </h2>

{% include 'global/partials/messages.html' %}



  <H3>Teus expedientes</H3>

  <table class="table table-striped table-hover">
    <thead>
     <tr>
        <th>ID </th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Assunto</th>
        <th>Estado</th>
        <th>Departamento</th>
        <th>Entrega do expediente?</th>
        <th>Data de Emissão</th>
     </tr>
      </thead>
 
    {% for expedient in expedients %}
    <tr>
        <td> <a href="{% url 'authors:dashbord_expedient_see' expedient.id %}">{{ expedient.id }}</a> </td>
        <td>{{ expedient.tipo }}</td>
        <td>{{ expedient.categoria }}</td>
        <td>{{ expedient.assunto }}</td>
        <td>{{ expedient.estado }}</td>
        <td>{{ expedient.departamento }}</td>
        <td>{{ expedient.recebido }}</td>
        <td>{{ expedient.data_emissao }}</td>
     </tr>
       
   
      
    {% empty %}
      <li>
        <p>Não tens nenhum expediente emitido, crie um.</p>
      </li>
    {% endfor %}
</table>


{% endblock content %}