{% extends 'global/base.html' %}

{% block title %}Dashbord ({{ user }}) | {% endblock title %}

{% block content %}


{% include 'global/partials/messages.html' %}

{% load crispy_forms_tags %}

<h3>{{ expedient.assunto }}</h3>
<br>
<p><strong>Emitido por:</strong>  {% if not profile.nome_completo %}
  {{ funcionario_expedient.nome_completo}}  
  {% else %}
  {{ profile.nome_completo}}  
  {% endif %}
  &ensp;
  <a href="{% url 'authors:dashbord_expedient_ver_user' expedient.id %}" > <i class="fa-solid fa-eye"></i></a> 
</p>

<p><strong>Enviado para:</strong> {{ expedient.departamento}}</p>
<p><strong>Categoria:</strong> {{ expedient.categoria}}</p>
<p><strong>Estado: </strong>{{ expedient.estado}}</p>
<p><strong>Prioridade:</strong> {{ expedient.prioridade}}</p>
<p align="right"><em>{{ expedient.data_emissao}}</em></p>
<hr>



{% if expedient.confidencial == True %}
<p style =" color : red"> Expediente Confidencial</p>
{% endif %}

{% comment %}
  

{% if expedient.recebido == True %}
<p  style =" color : green">Expediente recebido</p>
{% else %}
<p  style =" color : green">Expediente não recebido</p>
{% endif %}
{% endcomment %}



{% if expedient.descricao == None %}
<p> <strong>Sem descrição</strong></p>
{% else %}
{{ expedient.descricao|safe }}
{% endif %}


{% if expedient.anexo == "" %}
<p  style =" color : green">Sem Anexo!</p>
{% else %}
<p><a href="{{ expedient.anexo.url }}" target="_blank"><i class="fa-solid fa-circle-down"> </i></a></p>

{% endif %}

<hr>
{% for pareceres in parecer %}

{% if not funcionario.nome_completo %}


{% if expedient.estado == 'Respondido' %}
{% if pareceres.tipo == 'Resposta' %}
    
  <br><br>
      <h3>RE: {{expedient.assunto}}</h3>
      <p><strong>Respondido por: {{pareceres.id_emissor}}</strong></p>
        {{ pareceres.descricao|safe}}
      <a href="#"></a> 

     
{% if pareceres.anexo == "" %}
<p  style =" color : green">Sem Anexo!</p>
{% else %}
<a href="{{ pareceres.anexo.url }}" target="_blank">Anexo</a>
{% endif %}
      <p align="right"><em>{{ pareceres.data_envio }}</em></p>
      
        <hr> 
        {% endif %}
        {% else %}
        {% endif %}
       {% else %}
       <br><br>
       <h3>RE: {{expedient.assunto}}</h3>
       <p><strong>Respondido por: {{pareceres.id_emissor}}</strong></p>
         {{ pareceres.descricao|safe}}
       <a href="#"></a> 
 
      
 {% if pareceres.anexo == "" %}
 <p  style =" color : green">Sem Anexo!</p>
 {% else %}
 <a href="{{ pareceres.anexo.url }}" target="_blank">Anexo</a>
 {% endif %}
       <p align="right"><em>{{ pareceres.data_envio }}</em></p>
       
         <hr> 
        {% endif %}
      {% empty %}
        
        <p>Não há pareceres.</p>
        


    {% endfor %}

<!---->
    {% if not profile.nome_completo %}

    {% else %}

      {% endif %} 
      {% if not funcionario.nome_completo %}
       
    {% else %}
    
    {% if expedient.estado == 'Respondido' %}

    {% else %}

    {% if funcionario.departamento.nome == expedient.departamento.nome %}
    <!--red {{funcionario.departamento}} {{expedient.departamento}}-->
    {% else %}
    <a class="btn btn-success" href="{% url 'authors:dashbord_expedient_parecer_responder' expedient.id %}">Responder</a>
    &nbsp;&nbsp;
    
    <a class="btn btn-primary" href="{% url 'authors:dashbord_expedient_parecer_encaminhar' expedient.id %}">Encaminhar</a> 
    <br>
    <br>
    <br>

    {% endif %}



    
      
{% endif %}
    {% endif %}
      
 

    
    {% block parecer %}


    {% endblock parecer%}


<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#encaminhar" data-whatever="@mdo">Teste Encaminhar</button>-->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova mensagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Destinatário:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Mensagem:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="encaminhar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Encaminhar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  action="{{ form_action }}" 
        method="POST"
        enctype="multipart/form-data">
          {% csrf_token %}


          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Destinatário:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Mensagem:</label>
            <textarea class="form-control" id="message-text"></textarea><br>
            <input type="file" name="anexo">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}