
{% extends 'global/base.html' %}



{% block content %}


{% include 'global/partials/messages.html' %}


<h2>Estatistica: </h2>
<form method="get" class="row g-3 align-items-end mb-4">
    <div class="col-md-3">
      <label for="remetente" class="form-label">De (Departamento)</label>
      <select name="remetente_id" id="remetente" class="form-select">
        <option value="">Todos</option>
        {% for dept in departamentos %}
          <option value="{{ dept.id }}" {% if remetente_id == dept.id|stringformat:"s" %}selected{% endif %}>
            {{ dept.nome }}
          </option>
        {% endfor %}
      </select>
    </div>
  
    <div class="col-md-3">
      <label for="destinatario" class="form-label">Para (Departamento)</label>
      <select name="destinatario_id" id="destinatario" class="form-select">
        <option value="">Todos</option>
        {% for dept in departamentos %}
          <option value="{{ dept.id }}" {% if destinatario_id == dept.id|stringformat:"s" %}selected{% endif %}>
            {{ dept.nome }}
          </option>
        {% endfor %}
      </select>
    </div>
  
    <div class="col-md-2">
      <label for="start_date" class="form-label">Data Inicial</label>
      <input type="date" name="start_date" id="start_date" value="{{ start_date }}" class="form-control">
    </div>
  
    <div class="col-md-2">
      <label for="end_date" class="form-label">Data Final</label>
      <input type="date" name="end_date" id="end_date" value="{{ end_date }}" class="form-control">
    </div>
  
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary w-100">Filtrar</button>
    </div>
  </form>
  

<div>
    <h2>Protocolos por Estado</h2>
    <img src="data:image/png;base64,{{ data_barras }}" alt="Gráfico de Protocolos por Estado">
</div>
<div>
    <h2>Protocolos Emitidos por Mês</h2>
    <img src="data:image/png;base64,{{ data_linha }}" alt="Gráfico de Protocolos Emitidos por Mês">
</div>
<div>
    <h2>Protocolos Confirmados vs. Não Confirmados</h2>
    <img src="data:image/png;base64,{{ data_pizza }}" alt="Gráfico de Protocolos Confirmados vs. Não Confirmados">
</div>
<div>
    <h2>Protocolos Feitos e Recebidos por Departamento</h2>
    <img src="data:image/png;base64,{{ data_dept }}" alt="Gráfico de Protocolos Feitos e Recebidos por Departamento">
</div>


{% endblock content %}