{% if request.user.is_authenticated %}
<style>
  .expanded {
    padding-top: 50px; /* Distância do topo que você deseja */
  }
  </style>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'authors:dashbord' %}">UDM  | ({{ request.user.username }}) </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form action="{% url 'authors:search' %}" method="get" class="form-control form-control-dark w-100 rounded-0 border-0">
      
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Procurar..." name="search"  aria-label="Search" value="{{ search_term }}">
 
  
    

    </form>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        
        <form action="{% url 'authors:logout' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{request.user.username }}">
          <button class="btn btn-outline-secondary" type="submit"> Sair</button>
      </form>
       <!--<a class="nav-link px-3" href="{% url 'authors:logout' %}">Sign out</a>--> 
      </div>
    </div>
  </header>
  

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column"  style="padding-top: 25%;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'authors:dashbord' %}">
                
                <i class="fa-solid fa-gauge"></i>
                Dashboard
              </a>
            </li>

              

            <li class="nav-item">
              <a class="nav-link" href="{% url 'authors:dashbord_expedient_new' %}">
               <i class="fa-sharp fa-solid fa-circle-plus"></i>
              Novo Expediente
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'authors:dashbord_expedient_recebidos' %}">
                <i class="fa-sharp fa-solid fa-inbox"></i>
                Recebidos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'authors:dashbord_expedient_emitidos' %}">
                <i class="fa-sharp fa-solid fa-paper-plane"></i>
                Emitidos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-sharp fa-solid fa-chart-line"></i>
                Relatórios
              </a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers" class="align-text-bottom"></span>
                Integrations
              </a>
            </li>-->
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Calendário Académico</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'calendario:calendario_interno'  %}">
                    <i class="fa-solid fa-eye"></i>
                    Consultar
                  </a>
                </li>
              </ul>
  

{% if not funcionario %}


{% else %}
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Funcionário</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'authors:dashbord_expedient_recebidos_funcionario'  %}">
                <i class="fa-sharp fa-solid fa-inbox"></i>
                Recebidos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'authors:dashbord_expedient_respondidos_funcionario'  %}">
                <i class="fa-solid fa-list"></i>
                Respondidos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'authors:dashbord_expedient_encaminhados_funcionario'  %}">
                <i class="fa-sharp fa-solid fa-forward"></i>
                Encaminhados
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'authors:dashbord_expedient_encaminhados_submetidos_funcionario'  %}">
                <i class="fa-solid fa-forward-fast"></i>
                Encaminhados submetidos
              </a>
            </li>
          </ul>
<!-- Protocolo-->
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Protocolo</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'authors:dashbord_protocol_new'  %}">
                    <i class="fa-solid fa-plus"></i>
                    Criar
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'authors:dashbord_protocol_recebidos'  %}">
                    <i class="fa-solid fa-circle-check"></i>
                    Recebidos
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'authors:dashbord_protocol_emitidos'  %}">
                    <i class="fa-solid fa-envelope-circle-check"></i>
                    Emitidos
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'authors:protocol_search'  %}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Consultar
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'authors:protocol_statistics'  %}">
                    <i class="fa-solid fa-chart-bar"></i>
                    Estatísticas
                  </a>
                </li>
              <!--</ul>-->



              </ul>

  {% endif %}

  

{% if  funcionario.departamento.nome == "Contabilidade" %}
  
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
      <span>Contabilidade</span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle" class="align-text-bottom"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      
     
    <!--</ul>-->
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'autorizacao:cadastrar_autorizacao'  %}">
        <i class="fa-solid fa-forward-fast"></i>
        Criar Autorizações

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'autorizacao:listar_autorizacoes'  %}">
        <i class="fa-solid fa-forward-fast"></i>
        Listar Autorizacao

      </a>
    </li>
  
   
  </ul>

{% else %}
        {% endif %}  

        {% if not funcionario %}
 
        {% else %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
              <span>Actividades</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle" class="align-text-bottom"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              
             
            <!--</ul>-->
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'actividades:cadastrar_actividade'  %}">
                <i class="fa-sharp fa-solid fa-circle-plus"></i>
                Registar Actividades
        
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'actividades:listar_actividades'  %}">
                <i class="fa-solid fa-list"></i>
                Listar Actividades
        
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'actividades:actividade_search'  %}">
                <i class="fa-solid fa-magnifying-glass"></i>
                Consultar
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="{% url 'actividades:relatorio_actividades'  %}">
                <i class="fa-sharp fa-solid fa-chart-line"></i>
                Relatório das Actividades
        
              </a>
            </li>
          
           
          </ul>
        
       
                {% endif %}  


              
                {% if not funcionario %}
  
                {% else %}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                      <span>Pautas</span>
                      <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle" class="align-text-bottom"></span>
                      </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                      
                     
                    <!--</ul>-->
                    
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'pautas:cadastrar_pauta'  %}">
                        <i class="fa-sharp fa-solid fa-circle-plus"></i>
                        Registar Pautas
                
                      </a>
                    </li>
                    {% comment %} <li class="nav-item">
                      <a class="nav-link" href="{% url 'actividades:listar_actividades'  %}">
                        <i class="fa-solid fa-list"></i>
                        Listar Pautas
                
                      </a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'pautas:pauta_search'  %}">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Consultar
                      </a>
                    </li>
                    <li class="nav-item"> 
                      <a class="nav-link" href="#">
                        <i class="fa-sharp fa-solid fa-chart-line"></i>
                        Relatório das Pautas
                
                      </a>
                    </li>
                  
                   
                  </ul>
                
               
                        {% endif %}  
                    
                        {% if not funcionario %}
  
                        {% else %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                              <span>Formatura</span>
                              <a class="link-secondary" href="#" aria-label="Add a new report">
                                <span data-feather="plus-circle" class="align-text-bottom"></span>
                              </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                              
                             
                            <!--</ul>-->
                            {% if funcionario.departamento.nome == 'Departamento de Informática' %}
                              
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'formatura:upload_presenca'  %}">
                                <i class="fa-sharp fa-solid fa-circle-plus"></i>
                                Importar Presenças
                  
                              </a>
                            </li>
                            {% endif %}
                            {% comment %} <li class="nav-item">
                              <a class="nav-link" href="{% url 'actividades:listar_actividades'  %}">
                                <i class="fa-solid fa-list"></i>
                                Listar Pautas
                        
                              </a>
                            </li> {% endcomment %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'formatura:cadastrar_formatura'  %}">
                                
                                <i class="fa-solid fa-calendar-days"></i>
                                Agendar Formatura
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'formatura:listar_formaturas'  %}">
                                <i class="fa-solid fa-list-ol"></i>
                                Listar Dados da Formatura
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'formatura:listar_presencas'  %}">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Consultar Presenças
                              </a>
                            </li>
                            <li class="nav-item"> 
                              <a class="nav-link" href="{% url 'formatura:relatorio_presencas'  %}">
                                <i class="fa-sharp fa-solid fa-chart-line"></i>
                                Relatório das Presenças 
                        
                              </a>
                            </li>
                          
                           
                          </ul>
                        
                       
                                {% endif %}  
                            
    

  {% if not funcionario %}
  
                        {% else %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                              <span>Recursos Humanos</span>
                              <a class="link-secondary" href="#" aria-label="Add a new report">
                                <span data-feather="plus-circle" class="align-text-bottom"></span>
                              </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                              
                             
                            <!--</ul>-->
                            {% comment %} {% if funcionario.departamento.nome == 'Departamento de Informática' %} {% endcomment %}
                              
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'rhumanos:cadastrar_curriculo'  %}">
                                <i class="fa-sharp fa-solid fa-circle-plus"></i>
                                Criar CV
                  
                              </a>
                            </li>
                            {% comment %} {% endif %} {% endcomment %}
                             <li class="nav-item">
                              <a class="nav-link" href="{% url 'rhumanos:listar_curriculos'  %}">
                                <i class="fa-solid fa-list"></i>
                                Listar Curriculos
                        
                              </a>
                            </li> 
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'rhumanos:curriculo_search'  %}">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Consultar
                              </a>
                            </li>
                            <li class="nav-item"> 
                              <a class="nav-link" href="{% url 'formatura:relatorio_presencas'  %}">
                                <i class="fa-sharp fa-solid fa-chart-line"></i>
                                Relatório dos CVs 
                        
                              </a>
                            </li>
                          
                           
                          </ul>
                          {% if not funcionario %}
  
                        {% else %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                              <span>Graduação </span>
                              <a class="link-secondary" href="#" aria-label="Add a new report">
                                <span data-feather="plus-circle" class="align-text-bottom"></span>
                              </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                              
                             
                            <!--</ul>-->
                            {% comment %} {% if funcionario.departamento.nome == 'Departamento de Informática' %} {% endcomment %}
                              
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'convite:listar_convites'  %}">
                                <i class="fa-solid fa-list"></i>
                                Listar convites
                  
                              </a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'convite:confirmar_presenca' 1 %}">
                                <i class="fa-sharp fa-solid fa-circle-plus"></i>
                                Confirmar Presença
                  
                              </a>
                            </li>
                            {% endif %}

                            {% if not funcionario %}
  
                        {% else %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                              <span>Entrevistas </span>
                              <a class="link-secondary" href="#" aria-label="Add a new report">
                                <span data-feather="plus-circle" class="align-text-bottom"></span>
                              </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                              
                             
                            <!--</ul>-->
                            {% comment %} {% if funcionario.departamento.nome == 'Departamento de Informática' %} {% endcomment %}
                              
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'entrevistas:listar_entrevistas'  %}">
                                <i class="fa-solid fa-list"></i>
                                Listar Entrevistas
                  
                              </a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'entrevistas:entrevista_externa'  %}">
                                <i class="fa-sharp fa-solid fa-circle-plus"></i>
                                Registar entrevista
                  
                              </a>
                            </li>
                            {% endif %}
                        
                       
                                {% endif %}                               

                                {% if  funcionario.departamento.nome == "Secretaria" %}
  
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Secretaria</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            
           
          <!--</ul>-->
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authors:secretaria_search'  %}">
              <i class="fa-solid fa-forward-fast"></i>
              Consultar Informações

            </a>
          </li>
        
         
        </ul>

{% else %}

  {% endif %}
  <br>
  <marquee>
  <img  src="../../../media/expedient/images/udm.jpg " alt="" ></marquee>
        </div>
        
      </nav>


        


      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Gestão Expediente ({{request.user.username}}) </h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
             <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
            </div>
            <!--<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>-->
          </div>
        </div>





{% endif %}