{% extends "global/base.html" %}

{% block content %}
 {% include 'global/partials/messages.html' %}
<div class="container mt-4">
    <h3 class="mb-4 fw-bold text-primary">
        Editar Convite — {{ convite.nome_completo }}
    </h3>

    <div class="card shadow-sm p-4">
  <form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Nome completo</label>
        <input type="text" name="nome_completo" class="form-control"
               value="{{ convite.nome_completo }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Contacto</label>
        <input type="text" name="contacto" class="form-control"
               value="{{ convite.contacto }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Código do convite</label>
        <input type="text" name="codigo_convite" class="form-control"
               value="{{ convite.codigo_convite }} " disabled>
    </div>

    <div class="mb-3">
        <label class="form-label">Código do estudante</label>
        <input type="text" name="codigo_estudante" class="form-control"
               value="{{ convite.codigo_estudante }} " disabled>
    </div>

    <div class="mb-3">
        <label class="form-label">Lugares reservados</label>
        <input type="number" min="1" name="lugares_reservados"
               class="form-control" value="{{ convite.lugares_reservados }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Status</label>
        <select name="status" class="form-control">
            {% for key, value in convite.Status.choices %}
                <option value="{{ key }}" {% if convite.status == key %}selected{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
    </div>


    <button class="btn btn-primary">Salvar alterações</button>
    <a href="{% url 'convite:listar_convites' %}" class="btn btn-secondary">Cancelar</a>
</form>

    </div>
</div>
{% endblock %}
